<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Tic Tac Toe</h1>
        
        <div class="game-container">

        </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/game.js"></script>
</body>
</html>