
<div class="game-container">
    <h2 >Start Playing<hr></h2>
    <p>Welcome to Tic-Tac-Toe! Ready to play?</p>

    <form action="" class="card">
        <label for="room">Enter GameId:</label>
        <input type="text" name="room" id="room">
        <button>Join Game</button>
        <button>Create Game</button>
    </form>
    
</div>
